@media (min-width:1400px) {
    .container {
        width: 1300px;
    }
}

.table {
    width: auto
}

#logo {
    background-color: #f8f8f8;
    padding: 10px;
    height: 38pt;
    width: 38pt;
}

#logo:hover {
    background-color: #68217a;
}

.navbar {
    border: 0px !important;
}