/.manifest
/.pecrypt-link
/.pecrypt-link-updated

bin
obj
packages
out
temp
/lib
.vs
*.boltdata

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.t4properties
*.DS_Store
*.sln.ide
*.metaproj
*.tmp
*.cache

log.txt
NuGet.exe
/NULL
