bin
obj
out
temp
.vs

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.vsix
*.sln.ide
*.metaproj
*.tmp
*.cache

NuGet.exe
packages
project.lock.json
.nuget
*.nuget.props
*.nuget.targets

log.txt
test.proj
*.log
*.g
*.binlog
