<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="GitInfo" version="1.1.29" />
	<package id="xunit.runner.console" version="2.2.0" />
	<package id="xunit.runner.msbuild" version="2.2.0" />
	<package id="OpenCover" version="4.6.519" targetFramework="net45" />
	<package id="ReportGenerator" version="2.4.5" targetFramework="net45" />
</packages>